/* You can add global styles to this file, and also import other style files */
$primary: #06fd27;
$light: #fbf5e5;

@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';


$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192,
  "altgold": #ffd500
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import 'node_modules/bootstrap/scss/bootstrap.scss';
// @use 'node_modules/bootstrap/scss/bootstrap.scss';

